.dropdownSelectors__wrapper {
  position: absolute;
  // bottom: "-150px";
  // height: "150px";
  top: 80px;
  max-height: 175px;
  // minHeight: "200px";
  // height: "100%";
  background-color: white;
  width: calc(100% - 2rem);
  overflow: hidden;
  overflow-y: visible;
  border: 1px solid var(--color-gray);
  border-radius: 0.3rem;
  padding: 0.3rem;
}

.dropdownSelectors__item {
  cursor: pointer;
  &:hover {
    background-color: var(--color-gray);
  }
}
