.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow-x: scroll;
}

.cell__ticker {
  cursor: pointer;
  width: fit-content;
  &:hover {
    color: var(--color-hover-link);
    font-weight: 700;
  }
}
