.button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #827878;
  transition: all 0.3s ease;

  &[disabled] {
    background-color: var(--color-gray);
  }

  &:not([disabled]):hover {
    background-color: #665151;
    transition: all 0.3s ease;
  }
}
