.overlay {
  background-color: rgba(49, 49, 49, 0.8);
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  max-height: 95vh;
  overflow: auto;
}
