.li {
  color: #96a2c1;
  padding: 1rem 0;
  transition: all 0.5s ease;
  &:hover {
    color: #fff;
    transition: all 0.5s ease;
  }
}

.li__active {
  color: #fff;
}

.ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.wrapper {
  background-color: #192b58;
}

.content {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 1rem;
}

.user {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  @media screen and (max-width: 240px) {
    display: none;
  }
}

.modalWrapper {
  width: 300px;
}

.modalTitle {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
  text-align: center;
}

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
