.headerWrapper {
  background-color: #192b58;
}

.headerContent {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1rem;
  color: #fff;
  @media (max-width: 400px) {
    font-size: 2rem;
  }
}

.header__icon {
  width: 60px;
  height: 60px;
  @media (max-width: 400px) {
    display: none;
  }
}
